<div class='player-video' style='text-align: center'>
<video id="video" width='80%' controls ></video>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script>
        const video = document.getElementById('video');
        const videoSrc = '/media/{{video.filename}}';
        console.log(videoSrc);
        if (Hls.isSupported()) {
           var config = {
             debug: true,
             liveSyncDurationCount: 3
           };
           const hls = new Hls(config);
           hls.attachMedia(video);
           hls.on(Hls.Events.MEDIA_ATTACHED, function () {
             console.log("VIDEO element and HLS are attached");
             hls.loadSource(videoSrc);
             hls.on(Hls.Events.MANIFEST_PARSED,function(event, data) {
                console.log('Manifiest loaded, found ' + data.levels.length + ' quality level')
                video.play();
             });
           })

        } 
              else if (video.canPlayType('application/vnd.apple.mpegurl')) {
              video.src = videoSrc;
              video.addEventListener('loadedmetadata', () => {
                   video.play();                                                                           
              });
        }

   </script>
  </div>
