<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script>
  if (Hls.isSupported()) {
          console.log('hello hls.js!');

    }
</script>
<div class='player-video' style='text-align: center'>
<video id="video" width="70%"   autoplay="" muted="" playsinline="" controls></video>
<script>


  if (Hls.isSupported()) {
  var config = {
        autoStartLoad: true,
        debug: false,
        lowLatencyMode: true,
        maxBufferLength: 30,
        maxMaxBufferLength: 600, 
        maxFragLookUpTolerance: 0.25,
        liveSyncDuration: 1,
        progressive: true
       
    }; 
      
    var hls = new Hls(config);
    var video = document.getElementById('video');
    var hls = new Hls();
    // bind them together
     
    hls.loadSource('{{url}}={{video.id}}');
    hls.attachMedia(video);
  
    hls.on(Hls.Events.MEDIA_ATTACHED, function () {
       console.log('video and hls.js are now bound together !');
       hls.on(Hls.Events.MANIFEST_PARSED, function (event, data) {
        console.log('manifest loaded, found ' + data.levels.length + ' quality level'            );
         
       });
        
    }); 
    video.play(); 
    }
</script>




</div>
