<div class="row justify-content-md-center" style="margin-top: 30px">
  <div class="col-md-4">
    {{#if message}}
      <div class="alert {{messageClass}}" role="alert">
        {{message}}
      </div>
    {{/if}}
    <form method="POST" action="/register">

      <div class="card">
        <div class="card-header">
          <H3>Registro</H3>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="firstNameInput">Nombre</label>
            <input name="firstName" type="text" class="form-control" id="firstNameInput">
          </div>
          <div class="form-group">
            <label for="lastNameInput">Apellido</label>
            <input name="lastName" type="text" class="form-control" id="lastNameInput">
          </div>
          <div class="form-group">
            <label for="emailInput">Email </label>
            <input name="email" type="email" class="form-control" id="emailInput" placeholder="Ingresa tu email">
          </div>
          <div class="form-group">
            <label for="passwordInput">Password</label>
            <input name="password" type="password" class="form-control" id="passwordInput" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="confirmPasswordInput">Confirma tu Password</label>
            <input name="confirmPassword" type="password" class="form-control" id="confirmPasswordInput"
            placeholder="Re-ingresa tu password">
          </div>
        </div>
        <div class="card-footer p-3 ">
            <button type="submit" class="btn btn-primary">Registrate</button>
            <a href='login' class="btn btn-success">
            <span>Si ya tienes cuenta, ingresa acá </span>
              Ingresa</a>
        </div>
      </div>

    </form>
  </div>
</div>

